.dashbord-right-side{
    padding: 0 3%;
    margin-left: 2%;
    width: 74%;
}

@media (max-width: 767px){
    .dashbord-right-side{
        width: 78% !important;
        margin-left: 15%;
        overflow-x: hidden;
    }
}