@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.sidebar {
  background: linear-gradient(180deg, #4285f4 0%, #3c83f9 100%);
  color: white;
  width: 17%;
  max-height: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  padding-left: 3%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.nav-menue {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 10px;
  margin-bottom: 3%;
}

.bottom-nav-menue {
  position: relative;
  bottom: -55%;
}

.other-nav-menue {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
}

@media (max-width: 767px){

  .board, .nav-menue-title{
    display: none;
  }
  
  .bottom-nav-menue{
    margin-left: -100rem;
  }

  .sidebar{
    width: 10%;
    height: 100%;
    position: fixed;
  }

  .sidebar:hover{
    width: 50%;
    height: 100%;
  }

  .sidebar:hover .nav-menues{
    margin-left: 0%;
  }

  .sidebar:hover .nav-menue-title, .bottom-nav-menue{
    display: block !important;
  }

  .sidebar:hover .board{
    display: block;
  }

  .sidebar:hover .bottom-nav-menue{
    margin-left: 0%;
    margin-top: -75%;
  }

  .nav-menue img {
    width: 1.4rem;
    height: 1.4rem;
  }
  
  .nav-menues{
    margin-left: -20%;
  }

  
  
}